.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  #submit {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #341461;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
  }

  #submit:hover {
    background-color: #563d7c;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
  }

  
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    background-color: #563d7c;
  }
  
  .scooch{
    margin-left: 6pt;
    font-family: 'Roboto', sans-serif; 
  }

  .buttbutt {
    background-color: #341461;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.buttbutt:hover {
    background-color: #563d7c;
    color: #ffffff;
}

.worthyTitle {
  font-family: 'Inconsolata', monospace;
  color:  #341461;
}