<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="description"></label>
                    <textarea formControlName="content" rows="2" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn buttbutt">Comment</button>
                </div>
            </form>
        </div>
    </div>
</div>
